@import "img/spritesheets/sprites";
@import "global";

$border-color: #000;
$background-color: #ccc;

#clickarea {
  cursor: pointer;
}

#banner {
  position: absolute;
  display: block;
  overflow: hidden;
  @include size($bannerWidth - 2px, $bannerHeight - 2px);
  background-color: $background-color;
}

.frame {
  @include size($bannerWidth, $bannerHeight);
}

#legal-bubble {
  @include koodo-legals(95%);
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}