<!-- override global script -->
{{!-- {{#content "clicktag" }} {{> clicktag/generic }} {{/content }} --}}
<!-- /override global script -->

{{#> banner }}
<!-- main -->
<div id="banner">
    <div id="clickarea">

        <div id="frame1" class="ad-element frame">
            <div id="legal-bubble" class="ad-element">{{__ "legals"}}</div>
        </div>
        
    </div>
</div>
<!-- /main -->
{{/banner}}