{{#> banner }}
<div class="copy3"></div>
<div class="copy2"></div>

<div class="ad-element copy4a"></div>
<div class="ad-element copy4b"></div>
<div class="ad-element copy4c"></div>
<div class="ad-element copy4d"></div>
<div class="ad-element copy4e"></div>
<div class="ad-element copy4f"></div>
<div class="ad-element copy4f"></div>
<div class="ad-element phone phone0001"></div>

{{/banner}}