{{#> banner }}
<!-- main -->
<div id="banner">
    <div id="clickarea">

        <div id="frame1" class="ad-element frame">
            <div id="background-1" class="ad-element"></div>
            <div class="ad-element copy1"></div>
        </div>
        
    </div>
</div>
<!-- /main -->
{{/banner}}