@mixin porsche-border($thickness) {
    border: $thickness + 0px solid white;
    box-sizing: border-box;
    @include size($bannerWidth - 2, $bannerHeight - 2);
}

@mixin porsche-footer($orientation:"300x250") {
    background-color: white;

    @if $orientation == "300x250" {
        bottom: 0;
        @include size($bannerWidth, 50);
    }
    @else if $orientation == "300x600" {
        bottom: 0;
        @include size($bannerWidth, 75);
    }
    @else if $orientation == "728x90" {
        right: 0;
        @include size(110, $bannerHeight);
    }
    @else if $orientation == "300x50" {
        right: 0;
        @include size(82, $bannerHeight);
    }
    @else if $orientation == "320x50" {
        right: 0;
        @include size(94, $bannerHeight);
    }
}