// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$phone0001-2x-name: 'phone0001@2x';
$phone0001-2x-x: 218px;
$phone0001-2x-y: 0px;
$phone0001-2x-offset-x: -218px;
$phone0001-2x-offset-y: 0px;
$phone0001-2x-width: 218px;
$phone0001-2x-height: 200px;
$phone0001-2x-total-width: 1308px;
$phone0001-2x-total-height: 1000px;
$phone0001-2x-image: 'png-sequence@2x.png';
$phone0001-2x: (218px, 0px, -218px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0001@2x', );
$phone0002-2x-name: 'phone0002@2x';
$phone0002-2x-x: 654px;
$phone0002-2x-y: 600px;
$phone0002-2x-offset-x: -654px;
$phone0002-2x-offset-y: -600px;
$phone0002-2x-width: 218px;
$phone0002-2x-height: 200px;
$phone0002-2x-total-width: 1308px;
$phone0002-2x-total-height: 1000px;
$phone0002-2x-image: 'png-sequence@2x.png';
$phone0002-2x: (654px, 600px, -654px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0002@2x', );
$phone0003-2x-name: 'phone0003@2x';
$phone0003-2x-x: 0px;
$phone0003-2x-y: 200px;
$phone0003-2x-offset-x: 0px;
$phone0003-2x-offset-y: -200px;
$phone0003-2x-width: 218px;
$phone0003-2x-height: 200px;
$phone0003-2x-total-width: 1308px;
$phone0003-2x-total-height: 1000px;
$phone0003-2x-image: 'png-sequence@2x.png';
$phone0003-2x: (0px, 200px, 0px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0003@2x', );
$phone0004-2x-name: 'phone0004@2x';
$phone0004-2x-x: 218px;
$phone0004-2x-y: 200px;
$phone0004-2x-offset-x: -218px;
$phone0004-2x-offset-y: -200px;
$phone0004-2x-width: 218px;
$phone0004-2x-height: 200px;
$phone0004-2x-total-width: 1308px;
$phone0004-2x-total-height: 1000px;
$phone0004-2x-image: 'png-sequence@2x.png';
$phone0004-2x: (218px, 200px, -218px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0004@2x', );
$phone0005-2x-name: 'phone0005@2x';
$phone0005-2x-x: 436px;
$phone0005-2x-y: 0px;
$phone0005-2x-offset-x: -436px;
$phone0005-2x-offset-y: 0px;
$phone0005-2x-width: 218px;
$phone0005-2x-height: 200px;
$phone0005-2x-total-width: 1308px;
$phone0005-2x-total-height: 1000px;
$phone0005-2x-image: 'png-sequence@2x.png';
$phone0005-2x: (436px, 0px, -436px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0005@2x', );
$phone0006-2x-name: 'phone0006@2x';
$phone0006-2x-x: 436px;
$phone0006-2x-y: 200px;
$phone0006-2x-offset-x: -436px;
$phone0006-2x-offset-y: -200px;
$phone0006-2x-width: 218px;
$phone0006-2x-height: 200px;
$phone0006-2x-total-width: 1308px;
$phone0006-2x-total-height: 1000px;
$phone0006-2x-image: 'png-sequence@2x.png';
$phone0006-2x: (436px, 200px, -436px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0006@2x', );
$phone0007-2x-name: 'phone0007@2x';
$phone0007-2x-x: 0px;
$phone0007-2x-y: 400px;
$phone0007-2x-offset-x: 0px;
$phone0007-2x-offset-y: -400px;
$phone0007-2x-width: 218px;
$phone0007-2x-height: 200px;
$phone0007-2x-total-width: 1308px;
$phone0007-2x-total-height: 1000px;
$phone0007-2x-image: 'png-sequence@2x.png';
$phone0007-2x: (0px, 400px, 0px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0007@2x', );
$phone0008-2x-name: 'phone0008@2x';
$phone0008-2x-x: 218px;
$phone0008-2x-y: 400px;
$phone0008-2x-offset-x: -218px;
$phone0008-2x-offset-y: -400px;
$phone0008-2x-width: 218px;
$phone0008-2x-height: 200px;
$phone0008-2x-total-width: 1308px;
$phone0008-2x-total-height: 1000px;
$phone0008-2x-image: 'png-sequence@2x.png';
$phone0008-2x: (218px, 400px, -218px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0008@2x', );
$phone0009-2x-name: 'phone0009@2x';
$phone0009-2x-x: 436px;
$phone0009-2x-y: 400px;
$phone0009-2x-offset-x: -436px;
$phone0009-2x-offset-y: -400px;
$phone0009-2x-width: 218px;
$phone0009-2x-height: 200px;
$phone0009-2x-total-width: 1308px;
$phone0009-2x-total-height: 1000px;
$phone0009-2x-image: 'png-sequence@2x.png';
$phone0009-2x: (436px, 400px, -436px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0009@2x', );
$phone0010-2x-name: 'phone0010@2x';
$phone0010-2x-x: 654px;
$phone0010-2x-y: 0px;
$phone0010-2x-offset-x: -654px;
$phone0010-2x-offset-y: 0px;
$phone0010-2x-width: 218px;
$phone0010-2x-height: 200px;
$phone0010-2x-total-width: 1308px;
$phone0010-2x-total-height: 1000px;
$phone0010-2x-image: 'png-sequence@2x.png';
$phone0010-2x: (654px, 0px, -654px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0010@2x', );
$phone0011-2x-name: 'phone0011@2x';
$phone0011-2x-x: 654px;
$phone0011-2x-y: 200px;
$phone0011-2x-offset-x: -654px;
$phone0011-2x-offset-y: -200px;
$phone0011-2x-width: 218px;
$phone0011-2x-height: 200px;
$phone0011-2x-total-width: 1308px;
$phone0011-2x-total-height: 1000px;
$phone0011-2x-image: 'png-sequence@2x.png';
$phone0011-2x: (654px, 200px, -654px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0011@2x', );
$phone0012-2x-name: 'phone0012@2x';
$phone0012-2x-x: 654px;
$phone0012-2x-y: 400px;
$phone0012-2x-offset-x: -654px;
$phone0012-2x-offset-y: -400px;
$phone0012-2x-width: 218px;
$phone0012-2x-height: 200px;
$phone0012-2x-total-width: 1308px;
$phone0012-2x-total-height: 1000px;
$phone0012-2x-image: 'png-sequence@2x.png';
$phone0012-2x: (654px, 400px, -654px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0012@2x', );
$phone0013-2x-name: 'phone0013@2x';
$phone0013-2x-x: 0px;
$phone0013-2x-y: 600px;
$phone0013-2x-offset-x: 0px;
$phone0013-2x-offset-y: -600px;
$phone0013-2x-width: 218px;
$phone0013-2x-height: 200px;
$phone0013-2x-total-width: 1308px;
$phone0013-2x-total-height: 1000px;
$phone0013-2x-image: 'png-sequence@2x.png';
$phone0013-2x: (0px, 600px, 0px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0013@2x', );
$phone0014-2x-name: 'phone0014@2x';
$phone0014-2x-x: 218px;
$phone0014-2x-y: 600px;
$phone0014-2x-offset-x: -218px;
$phone0014-2x-offset-y: -600px;
$phone0014-2x-width: 218px;
$phone0014-2x-height: 200px;
$phone0014-2x-total-width: 1308px;
$phone0014-2x-total-height: 1000px;
$phone0014-2x-image: 'png-sequence@2x.png';
$phone0014-2x: (218px, 600px, -218px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0014@2x', );
$phone0015-2x-name: 'phone0015@2x';
$phone0015-2x-x: 436px;
$phone0015-2x-y: 600px;
$phone0015-2x-offset-x: -436px;
$phone0015-2x-offset-y: -600px;
$phone0015-2x-width: 218px;
$phone0015-2x-height: 200px;
$phone0015-2x-total-width: 1308px;
$phone0015-2x-total-height: 1000px;
$phone0015-2x-image: 'png-sequence@2x.png';
$phone0015-2x: (436px, 600px, -436px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0015@2x', );
$phone0016-2x-name: 'phone0016@2x';
$phone0016-2x-x: 0px;
$phone0016-2x-y: 0px;
$phone0016-2x-offset-x: 0px;
$phone0016-2x-offset-y: 0px;
$phone0016-2x-width: 218px;
$phone0016-2x-height: 200px;
$phone0016-2x-total-width: 1308px;
$phone0016-2x-total-height: 1000px;
$phone0016-2x-image: 'png-sequence@2x.png';
$phone0016-2x: (0px, 0px, 0px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0016@2x', );
$phone0017-2x-name: 'phone0017@2x';
$phone0017-2x-x: 872px;
$phone0017-2x-y: 0px;
$phone0017-2x-offset-x: -872px;
$phone0017-2x-offset-y: 0px;
$phone0017-2x-width: 218px;
$phone0017-2x-height: 200px;
$phone0017-2x-total-width: 1308px;
$phone0017-2x-total-height: 1000px;
$phone0017-2x-image: 'png-sequence@2x.png';
$phone0017-2x: (872px, 0px, -872px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0017@2x', );
$phone0018-2x-name: 'phone0018@2x';
$phone0018-2x-x: 872px;
$phone0018-2x-y: 200px;
$phone0018-2x-offset-x: -872px;
$phone0018-2x-offset-y: -200px;
$phone0018-2x-width: 218px;
$phone0018-2x-height: 200px;
$phone0018-2x-total-width: 1308px;
$phone0018-2x-total-height: 1000px;
$phone0018-2x-image: 'png-sequence@2x.png';
$phone0018-2x: (872px, 200px, -872px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0018@2x', );
$phone0019-2x-name: 'phone0019@2x';
$phone0019-2x-x: 872px;
$phone0019-2x-y: 400px;
$phone0019-2x-offset-x: -872px;
$phone0019-2x-offset-y: -400px;
$phone0019-2x-width: 218px;
$phone0019-2x-height: 200px;
$phone0019-2x-total-width: 1308px;
$phone0019-2x-total-height: 1000px;
$phone0019-2x-image: 'png-sequence@2x.png';
$phone0019-2x: (872px, 400px, -872px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0019@2x', );
$phone0020-2x-name: 'phone0020@2x';
$phone0020-2x-x: 872px;
$phone0020-2x-y: 600px;
$phone0020-2x-offset-x: -872px;
$phone0020-2x-offset-y: -600px;
$phone0020-2x-width: 218px;
$phone0020-2x-height: 200px;
$phone0020-2x-total-width: 1308px;
$phone0020-2x-total-height: 1000px;
$phone0020-2x-image: 'png-sequence@2x.png';
$phone0020-2x: (872px, 600px, -872px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0020@2x', );
$phone0021-2x-name: 'phone0021@2x';
$phone0021-2x-x: 0px;
$phone0021-2x-y: 800px;
$phone0021-2x-offset-x: 0px;
$phone0021-2x-offset-y: -800px;
$phone0021-2x-width: 218px;
$phone0021-2x-height: 200px;
$phone0021-2x-total-width: 1308px;
$phone0021-2x-total-height: 1000px;
$phone0021-2x-image: 'png-sequence@2x.png';
$phone0021-2x: (0px, 800px, 0px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0021@2x', );
$phone0022-2x-name: 'phone0022@2x';
$phone0022-2x-x: 218px;
$phone0022-2x-y: 800px;
$phone0022-2x-offset-x: -218px;
$phone0022-2x-offset-y: -800px;
$phone0022-2x-width: 218px;
$phone0022-2x-height: 200px;
$phone0022-2x-total-width: 1308px;
$phone0022-2x-total-height: 1000px;
$phone0022-2x-image: 'png-sequence@2x.png';
$phone0022-2x: (218px, 800px, -218px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0022@2x', );
$phone0023-2x-name: 'phone0023@2x';
$phone0023-2x-x: 436px;
$phone0023-2x-y: 800px;
$phone0023-2x-offset-x: -436px;
$phone0023-2x-offset-y: -800px;
$phone0023-2x-width: 218px;
$phone0023-2x-height: 200px;
$phone0023-2x-total-width: 1308px;
$phone0023-2x-total-height: 1000px;
$phone0023-2x-image: 'png-sequence@2x.png';
$phone0023-2x: (436px, 800px, -436px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0023@2x', );
$phone0024-2x-name: 'phone0024@2x';
$phone0024-2x-x: 654px;
$phone0024-2x-y: 800px;
$phone0024-2x-offset-x: -654px;
$phone0024-2x-offset-y: -800px;
$phone0024-2x-width: 218px;
$phone0024-2x-height: 200px;
$phone0024-2x-total-width: 1308px;
$phone0024-2x-total-height: 1000px;
$phone0024-2x-image: 'png-sequence@2x.png';
$phone0024-2x: (654px, 800px, -654px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0024@2x', );
$phone0025-2x-name: 'phone0025@2x';
$phone0025-2x-x: 872px;
$phone0025-2x-y: 800px;
$phone0025-2x-offset-x: -872px;
$phone0025-2x-offset-y: -800px;
$phone0025-2x-width: 218px;
$phone0025-2x-height: 200px;
$phone0025-2x-total-width: 1308px;
$phone0025-2x-total-height: 1000px;
$phone0025-2x-image: 'png-sequence@2x.png';
$phone0025-2x: (872px, 800px, -872px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0025@2x', );
$phone0026-2x-name: 'phone0026@2x';
$phone0026-2x-x: 1090px;
$phone0026-2x-y: 0px;
$phone0026-2x-offset-x: -1090px;
$phone0026-2x-offset-y: 0px;
$phone0026-2x-width: 218px;
$phone0026-2x-height: 200px;
$phone0026-2x-total-width: 1308px;
$phone0026-2x-total-height: 1000px;
$phone0026-2x-image: 'png-sequence@2x.png';
$phone0026-2x: (1090px, 0px, -1090px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0026@2x', );
$phone0027-2x-name: 'phone0027@2x';
$phone0027-2x-x: 1090px;
$phone0027-2x-y: 200px;
$phone0027-2x-offset-x: -1090px;
$phone0027-2x-offset-y: -200px;
$phone0027-2x-width: 218px;
$phone0027-2x-height: 200px;
$phone0027-2x-total-width: 1308px;
$phone0027-2x-total-height: 1000px;
$phone0027-2x-image: 'png-sequence@2x.png';
$phone0027-2x: (1090px, 200px, -1090px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0027@2x', );
$phone0028-2x-name: 'phone0028@2x';
$phone0028-2x-x: 1090px;
$phone0028-2x-y: 400px;
$phone0028-2x-offset-x: -1090px;
$phone0028-2x-offset-y: -400px;
$phone0028-2x-width: 218px;
$phone0028-2x-height: 200px;
$phone0028-2x-total-width: 1308px;
$phone0028-2x-total-height: 1000px;
$phone0028-2x-image: 'png-sequence@2x.png';
$phone0028-2x: (1090px, 400px, -1090px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0028@2x', );
$phone0029-2x-name: 'phone0029@2x';
$phone0029-2x-x: 1090px;
$phone0029-2x-y: 600px;
$phone0029-2x-offset-x: -1090px;
$phone0029-2x-offset-y: -600px;
$phone0029-2x-width: 218px;
$phone0029-2x-height: 200px;
$phone0029-2x-total-width: 1308px;
$phone0029-2x-total-height: 1000px;
$phone0029-2x-image: 'png-sequence@2x.png';
$phone0029-2x: (1090px, 600px, -1090px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0029@2x', );
$phone0030-2x-name: 'phone0030@2x';
$phone0030-2x-x: 1090px;
$phone0030-2x-y: 800px;
$phone0030-2x-offset-x: -1090px;
$phone0030-2x-offset-y: -800px;
$phone0030-2x-width: 218px;
$phone0030-2x-height: 200px;
$phone0030-2x-total-width: 1308px;
$phone0030-2x-total-height: 1000px;
$phone0030-2x-image: 'png-sequence@2x.png';
$phone0030-2x: (1090px, 800px, -1090px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0030@2x', );
$spritesheet-width: 1308px;
$spritesheet-height: 1000px;
$spritesheet-image: 'png-sequence@2x.png';
$spritesheet-sprites: ($phone0001-2x, $phone0002-2x, $phone0003-2x, $phone0004-2x, $phone0005-2x, $phone0006-2x, $phone0007-2x, $phone0008-2x, $phone0009-2x, $phone0010-2x, $phone0011-2x, $phone0012-2x, $phone0013-2x, $phone0014-2x, $phone0015-2x, $phone0016-2x, $phone0017-2x, $phone0018-2x, $phone0019-2x, $phone0020-2x, $phone0021-2x, $phone0022-2x, $phone0023-2x, $phone0024-2x, $phone0025-2x, $phone0026-2x, $phone0027-2x, $phone0028-2x, $phone0029-2x, $phone0030-2x, );
$spritesheet: (1308px, 1000px, 'png-sequence@2x.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
