// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$copy4a-name: 'copy4a';
$copy4a-x: 0px;
$copy4a-y: 0px;
$copy4a-offset-x: 0px;
$copy4a-offset-y: 0px;
$copy4a-width: 300px;
$copy4a-height: 250px;
$copy4a-total-width: 900px;
$copy4a-total-height: 750px;
$copy4a-image: 'img/spritesheets';
$copy4a: (0px, 0px, 0px, 0px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4a', );
$copy4b-name: 'copy4b';
$copy4b-x: 300px;
$copy4b-y: 0px;
$copy4b-offset-x: -300px;
$copy4b-offset-y: 0px;
$copy4b-width: 300px;
$copy4b-height: 250px;
$copy4b-total-width: 900px;
$copy4b-total-height: 750px;
$copy4b-image: 'img/spritesheets';
$copy4b: (300px, 0px, -300px, 0px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4b', );
$copy4c-name: 'copy4c';
$copy4c-x: 0px;
$copy4c-y: 250px;
$copy4c-offset-x: 0px;
$copy4c-offset-y: -250px;
$copy4c-width: 300px;
$copy4c-height: 250px;
$copy4c-total-width: 900px;
$copy4c-total-height: 750px;
$copy4c-image: 'img/spritesheets';
$copy4c: (0px, 250px, 0px, -250px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4c', );
$copy4d-name: 'copy4d';
$copy4d-x: 300px;
$copy4d-y: 250px;
$copy4d-offset-x: -300px;
$copy4d-offset-y: -250px;
$copy4d-width: 300px;
$copy4d-height: 250px;
$copy4d-total-width: 900px;
$copy4d-total-height: 750px;
$copy4d-image: 'img/spritesheets';
$copy4d: (300px, 250px, -300px, -250px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4d', );
$copy4e-name: 'copy4e';
$copy4e-x: 600px;
$copy4e-y: 0px;
$copy4e-offset-x: -600px;
$copy4e-offset-y: 0px;
$copy4e-width: 300px;
$copy4e-height: 250px;
$copy4e-total-width: 900px;
$copy4e-total-height: 750px;
$copy4e-image: 'img/spritesheets';
$copy4e: (600px, 0px, -600px, 0px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4e', );
$copy4f-name: 'copy4f';
$copy4f-x: 600px;
$copy4f-y: 250px;
$copy4f-offset-x: -600px;
$copy4f-offset-y: -250px;
$copy4f-width: 300px;
$copy4f-height: 250px;
$copy4f-total-width: 900px;
$copy4f-total-height: 750px;
$copy4f-image: 'img/spritesheets';
$copy4f: (600px, 250px, -600px, -250px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'copy4f', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 500px;
$logo-offset-x: 0px;
$logo-offset-y: -500px;
$logo-width: 300px;
$logo-height: 250px;
$logo-total-width: 900px;
$logo-total-height: 750px;
$logo-image: 'img/spritesheets';
$logo: (0px, 500px, 0px, -500px, 300px, 250px, 900px, 750px, 'img/spritesheets', 'logo', );
$copy4a-2x-name: 'copy4a@2x';
$copy4a-2x-x: 0px;
$copy4a-2x-y: 0px;
$copy4a-2x-offset-x: 0px;
$copy4a-2x-offset-y: 0px;
$copy4a-2x-width: 600px;
$copy4a-2x-height: 500px;
$copy4a-2x-total-width: 1800px;
$copy4a-2x-total-height: 1500px;
$copy4a-2x-image: 'copy@2x.png';
$copy4a-2x: (0px, 0px, 0px, 0px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4a@2x', );
$copy4b-2x-name: 'copy4b@2x';
$copy4b-2x-x: 600px;
$copy4b-2x-y: 0px;
$copy4b-2x-offset-x: -600px;
$copy4b-2x-offset-y: 0px;
$copy4b-2x-width: 600px;
$copy4b-2x-height: 500px;
$copy4b-2x-total-width: 1800px;
$copy4b-2x-total-height: 1500px;
$copy4b-2x-image: 'copy@2x.png';
$copy4b-2x: (600px, 0px, -600px, 0px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4b@2x', );
$copy4c-2x-name: 'copy4c@2x';
$copy4c-2x-x: 0px;
$copy4c-2x-y: 500px;
$copy4c-2x-offset-x: 0px;
$copy4c-2x-offset-y: -500px;
$copy4c-2x-width: 600px;
$copy4c-2x-height: 500px;
$copy4c-2x-total-width: 1800px;
$copy4c-2x-total-height: 1500px;
$copy4c-2x-image: 'copy@2x.png';
$copy4c-2x: (0px, 500px, 0px, -500px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4c@2x', );
$copy4d-2x-name: 'copy4d@2x';
$copy4d-2x-x: 600px;
$copy4d-2x-y: 500px;
$copy4d-2x-offset-x: -600px;
$copy4d-2x-offset-y: -500px;
$copy4d-2x-width: 600px;
$copy4d-2x-height: 500px;
$copy4d-2x-total-width: 1800px;
$copy4d-2x-total-height: 1500px;
$copy4d-2x-image: 'copy@2x.png';
$copy4d-2x: (600px, 500px, -600px, -500px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4d@2x', );
$copy4e-2x-name: 'copy4e@2x';
$copy4e-2x-x: 1200px;
$copy4e-2x-y: 0px;
$copy4e-2x-offset-x: -1200px;
$copy4e-2x-offset-y: 0px;
$copy4e-2x-width: 600px;
$copy4e-2x-height: 500px;
$copy4e-2x-total-width: 1800px;
$copy4e-2x-total-height: 1500px;
$copy4e-2x-image: 'copy@2x.png';
$copy4e-2x: (1200px, 0px, -1200px, 0px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4e@2x', );
$copy4f-2x-name: 'copy4f@2x';
$copy4f-2x-x: 1200px;
$copy4f-2x-y: 500px;
$copy4f-2x-offset-x: -1200px;
$copy4f-2x-offset-y: -500px;
$copy4f-2x-width: 600px;
$copy4f-2x-height: 500px;
$copy4f-2x-total-width: 1800px;
$copy4f-2x-total-height: 1500px;
$copy4f-2x-image: 'copy@2x.png';
$copy4f-2x: (1200px, 500px, -1200px, -500px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'copy4f@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 1000px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: -1000px;
$logo-2x-width: 600px;
$logo-2x-height: 500px;
$logo-2x-total-width: 1800px;
$logo-2x-total-height: 1500px;
$logo-2x-image: 'copy@2x.png';
$logo-2x: (0px, 1000px, 0px, -1000px, 600px, 500px, 1800px, 1500px, 'copy@2x.png', 'logo@2x', );
$spritesheet-width: 900px;
$spritesheet-height: 750px;
$spritesheet-image: 'img/spritesheets';
$spritesheet-sprites: ($copy4a, $copy4b, $copy4c, $copy4d, $copy4e, $copy4f, $logo, );
$spritesheet: (900px, 750px, 'img/spritesheets', $spritesheet-sprites, );
$retina-spritesheet-width: 1800px;
$retina-spritesheet-height: 1500px;
$retina-spritesheet-image: 'copy@2x.png';
$retina-spritesheet-sprites: ($copy4a-2x, $copy4b-2x, $copy4c-2x, $copy4d-2x, $copy4e-2x, $copy4f-2x, $logo-2x, );
$retina-spritesheet: (1800px, 1500px, 'copy@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$copy4a-group-name: 'copy4a';
$copy4a-group: ('copy4a', $copy4a, $copy4a-2x, );
$copy4b-group-name: 'copy4b';
$copy4b-group: ('copy4b', $copy4b, $copy4b-2x, );
$copy4c-group-name: 'copy4c';
$copy4c-group: ('copy4c', $copy4c, $copy4c-2x, );
$copy4d-group-name: 'copy4d';
$copy4d-group: ('copy4d', $copy4d, $copy4d-2x, );
$copy4e-group-name: 'copy4e';
$copy4e-group: ('copy4e', $copy4e, $copy4e-2x, );
$copy4f-group-name: 'copy4f';
$copy4f-group: ('copy4f', $copy4f, $copy4f-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$retina-groups: ($copy4a-group, $copy4b-group, $copy4c-group, $copy4d-group, $copy4e-group, $copy4f-group, $logo-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}

@include retina-sprites($retina-groups);
// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$phone0001-name: 'phone0001';
$phone0001-x: 109px;
$phone0001-y: 0px;
$phone0001-offset-x: -109px;
$phone0001-offset-y: 0px;
$phone0001-width: 109px;
$phone0001-height: 100px;
$phone0001-total-width: 654px;
$phone0001-total-height: 500px;
$phone0001-image: 'img/spritesheets';
$phone0001: (109px, 0px, -109px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0001', );
$phone0002-name: 'phone0002';
$phone0002-x: 327px;
$phone0002-y: 300px;
$phone0002-offset-x: -327px;
$phone0002-offset-y: -300px;
$phone0002-width: 109px;
$phone0002-height: 100px;
$phone0002-total-width: 654px;
$phone0002-total-height: 500px;
$phone0002-image: 'img/spritesheets';
$phone0002: (327px, 300px, -327px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0002', );
$phone0003-name: 'phone0003';
$phone0003-x: 0px;
$phone0003-y: 100px;
$phone0003-offset-x: 0px;
$phone0003-offset-y: -100px;
$phone0003-width: 109px;
$phone0003-height: 100px;
$phone0003-total-width: 654px;
$phone0003-total-height: 500px;
$phone0003-image: 'img/spritesheets';
$phone0003: (0px, 100px, 0px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0003', );
$phone0004-name: 'phone0004';
$phone0004-x: 109px;
$phone0004-y: 100px;
$phone0004-offset-x: -109px;
$phone0004-offset-y: -100px;
$phone0004-width: 109px;
$phone0004-height: 100px;
$phone0004-total-width: 654px;
$phone0004-total-height: 500px;
$phone0004-image: 'img/spritesheets';
$phone0004: (109px, 100px, -109px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0004', );
$phone0005-name: 'phone0005';
$phone0005-x: 218px;
$phone0005-y: 0px;
$phone0005-offset-x: -218px;
$phone0005-offset-y: 0px;
$phone0005-width: 109px;
$phone0005-height: 100px;
$phone0005-total-width: 654px;
$phone0005-total-height: 500px;
$phone0005-image: 'img/spritesheets';
$phone0005: (218px, 0px, -218px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0005', );
$phone0006-name: 'phone0006';
$phone0006-x: 218px;
$phone0006-y: 100px;
$phone0006-offset-x: -218px;
$phone0006-offset-y: -100px;
$phone0006-width: 109px;
$phone0006-height: 100px;
$phone0006-total-width: 654px;
$phone0006-total-height: 500px;
$phone0006-image: 'img/spritesheets';
$phone0006: (218px, 100px, -218px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0006', );
$phone0007-name: 'phone0007';
$phone0007-x: 0px;
$phone0007-y: 200px;
$phone0007-offset-x: 0px;
$phone0007-offset-y: -200px;
$phone0007-width: 109px;
$phone0007-height: 100px;
$phone0007-total-width: 654px;
$phone0007-total-height: 500px;
$phone0007-image: 'img/spritesheets';
$phone0007: (0px, 200px, 0px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0007', );
$phone0008-name: 'phone0008';
$phone0008-x: 109px;
$phone0008-y: 200px;
$phone0008-offset-x: -109px;
$phone0008-offset-y: -200px;
$phone0008-width: 109px;
$phone0008-height: 100px;
$phone0008-total-width: 654px;
$phone0008-total-height: 500px;
$phone0008-image: 'img/spritesheets';
$phone0008: (109px, 200px, -109px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0008', );
$phone0009-name: 'phone0009';
$phone0009-x: 218px;
$phone0009-y: 200px;
$phone0009-offset-x: -218px;
$phone0009-offset-y: -200px;
$phone0009-width: 109px;
$phone0009-height: 100px;
$phone0009-total-width: 654px;
$phone0009-total-height: 500px;
$phone0009-image: 'img/spritesheets';
$phone0009: (218px, 200px, -218px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0009', );
$phone0010-name: 'phone0010';
$phone0010-x: 327px;
$phone0010-y: 0px;
$phone0010-offset-x: -327px;
$phone0010-offset-y: 0px;
$phone0010-width: 109px;
$phone0010-height: 100px;
$phone0010-total-width: 654px;
$phone0010-total-height: 500px;
$phone0010-image: 'img/spritesheets';
$phone0010: (327px, 0px, -327px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0010', );
$phone0011-name: 'phone0011';
$phone0011-x: 327px;
$phone0011-y: 100px;
$phone0011-offset-x: -327px;
$phone0011-offset-y: -100px;
$phone0011-width: 109px;
$phone0011-height: 100px;
$phone0011-total-width: 654px;
$phone0011-total-height: 500px;
$phone0011-image: 'img/spritesheets';
$phone0011: (327px, 100px, -327px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0011', );
$phone0012-name: 'phone0012';
$phone0012-x: 327px;
$phone0012-y: 200px;
$phone0012-offset-x: -327px;
$phone0012-offset-y: -200px;
$phone0012-width: 109px;
$phone0012-height: 100px;
$phone0012-total-width: 654px;
$phone0012-total-height: 500px;
$phone0012-image: 'img/spritesheets';
$phone0012: (327px, 200px, -327px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0012', );
$phone0013-name: 'phone0013';
$phone0013-x: 0px;
$phone0013-y: 300px;
$phone0013-offset-x: 0px;
$phone0013-offset-y: -300px;
$phone0013-width: 109px;
$phone0013-height: 100px;
$phone0013-total-width: 654px;
$phone0013-total-height: 500px;
$phone0013-image: 'img/spritesheets';
$phone0013: (0px, 300px, 0px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0013', );
$phone0014-name: 'phone0014';
$phone0014-x: 109px;
$phone0014-y: 300px;
$phone0014-offset-x: -109px;
$phone0014-offset-y: -300px;
$phone0014-width: 109px;
$phone0014-height: 100px;
$phone0014-total-width: 654px;
$phone0014-total-height: 500px;
$phone0014-image: 'img/spritesheets';
$phone0014: (109px, 300px, -109px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0014', );
$phone0015-name: 'phone0015';
$phone0015-x: 218px;
$phone0015-y: 300px;
$phone0015-offset-x: -218px;
$phone0015-offset-y: -300px;
$phone0015-width: 109px;
$phone0015-height: 100px;
$phone0015-total-width: 654px;
$phone0015-total-height: 500px;
$phone0015-image: 'img/spritesheets';
$phone0015: (218px, 300px, -218px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0015', );
$phone0016-name: 'phone0016';
$phone0016-x: 0px;
$phone0016-y: 0px;
$phone0016-offset-x: 0px;
$phone0016-offset-y: 0px;
$phone0016-width: 109px;
$phone0016-height: 100px;
$phone0016-total-width: 654px;
$phone0016-total-height: 500px;
$phone0016-image: 'img/spritesheets';
$phone0016: (0px, 0px, 0px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0016', );
$phone0017-name: 'phone0017';
$phone0017-x: 436px;
$phone0017-y: 0px;
$phone0017-offset-x: -436px;
$phone0017-offset-y: 0px;
$phone0017-width: 109px;
$phone0017-height: 100px;
$phone0017-total-width: 654px;
$phone0017-total-height: 500px;
$phone0017-image: 'img/spritesheets';
$phone0017: (436px, 0px, -436px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0017', );
$phone0018-name: 'phone0018';
$phone0018-x: 436px;
$phone0018-y: 100px;
$phone0018-offset-x: -436px;
$phone0018-offset-y: -100px;
$phone0018-width: 109px;
$phone0018-height: 100px;
$phone0018-total-width: 654px;
$phone0018-total-height: 500px;
$phone0018-image: 'img/spritesheets';
$phone0018: (436px, 100px, -436px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0018', );
$phone0019-name: 'phone0019';
$phone0019-x: 436px;
$phone0019-y: 200px;
$phone0019-offset-x: -436px;
$phone0019-offset-y: -200px;
$phone0019-width: 109px;
$phone0019-height: 100px;
$phone0019-total-width: 654px;
$phone0019-total-height: 500px;
$phone0019-image: 'img/spritesheets';
$phone0019: (436px, 200px, -436px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0019', );
$phone0020-name: 'phone0020';
$phone0020-x: 436px;
$phone0020-y: 300px;
$phone0020-offset-x: -436px;
$phone0020-offset-y: -300px;
$phone0020-width: 109px;
$phone0020-height: 100px;
$phone0020-total-width: 654px;
$phone0020-total-height: 500px;
$phone0020-image: 'img/spritesheets';
$phone0020: (436px, 300px, -436px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0020', );
$phone0021-name: 'phone0021';
$phone0021-x: 0px;
$phone0021-y: 400px;
$phone0021-offset-x: 0px;
$phone0021-offset-y: -400px;
$phone0021-width: 109px;
$phone0021-height: 100px;
$phone0021-total-width: 654px;
$phone0021-total-height: 500px;
$phone0021-image: 'img/spritesheets';
$phone0021: (0px, 400px, 0px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0021', );
$phone0022-name: 'phone0022';
$phone0022-x: 109px;
$phone0022-y: 400px;
$phone0022-offset-x: -109px;
$phone0022-offset-y: -400px;
$phone0022-width: 109px;
$phone0022-height: 100px;
$phone0022-total-width: 654px;
$phone0022-total-height: 500px;
$phone0022-image: 'img/spritesheets';
$phone0022: (109px, 400px, -109px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0022', );
$phone0023-name: 'phone0023';
$phone0023-x: 218px;
$phone0023-y: 400px;
$phone0023-offset-x: -218px;
$phone0023-offset-y: -400px;
$phone0023-width: 109px;
$phone0023-height: 100px;
$phone0023-total-width: 654px;
$phone0023-total-height: 500px;
$phone0023-image: 'img/spritesheets';
$phone0023: (218px, 400px, -218px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0023', );
$phone0024-name: 'phone0024';
$phone0024-x: 327px;
$phone0024-y: 400px;
$phone0024-offset-x: -327px;
$phone0024-offset-y: -400px;
$phone0024-width: 109px;
$phone0024-height: 100px;
$phone0024-total-width: 654px;
$phone0024-total-height: 500px;
$phone0024-image: 'img/spritesheets';
$phone0024: (327px, 400px, -327px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0024', );
$phone0025-name: 'phone0025';
$phone0025-x: 436px;
$phone0025-y: 400px;
$phone0025-offset-x: -436px;
$phone0025-offset-y: -400px;
$phone0025-width: 109px;
$phone0025-height: 100px;
$phone0025-total-width: 654px;
$phone0025-total-height: 500px;
$phone0025-image: 'img/spritesheets';
$phone0025: (436px, 400px, -436px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0025', );
$phone0026-name: 'phone0026';
$phone0026-x: 545px;
$phone0026-y: 0px;
$phone0026-offset-x: -545px;
$phone0026-offset-y: 0px;
$phone0026-width: 109px;
$phone0026-height: 100px;
$phone0026-total-width: 654px;
$phone0026-total-height: 500px;
$phone0026-image: 'img/spritesheets';
$phone0026: (545px, 0px, -545px, 0px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0026', );
$phone0027-name: 'phone0027';
$phone0027-x: 545px;
$phone0027-y: 100px;
$phone0027-offset-x: -545px;
$phone0027-offset-y: -100px;
$phone0027-width: 109px;
$phone0027-height: 100px;
$phone0027-total-width: 654px;
$phone0027-total-height: 500px;
$phone0027-image: 'img/spritesheets';
$phone0027: (545px, 100px, -545px, -100px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0027', );
$phone0028-name: 'phone0028';
$phone0028-x: 545px;
$phone0028-y: 200px;
$phone0028-offset-x: -545px;
$phone0028-offset-y: -200px;
$phone0028-width: 109px;
$phone0028-height: 100px;
$phone0028-total-width: 654px;
$phone0028-total-height: 500px;
$phone0028-image: 'img/spritesheets';
$phone0028: (545px, 200px, -545px, -200px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0028', );
$phone0029-name: 'phone0029';
$phone0029-x: 545px;
$phone0029-y: 300px;
$phone0029-offset-x: -545px;
$phone0029-offset-y: -300px;
$phone0029-width: 109px;
$phone0029-height: 100px;
$phone0029-total-width: 654px;
$phone0029-total-height: 500px;
$phone0029-image: 'img/spritesheets';
$phone0029: (545px, 300px, -545px, -300px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0029', );
$phone0030-name: 'phone0030';
$phone0030-x: 545px;
$phone0030-y: 400px;
$phone0030-offset-x: -545px;
$phone0030-offset-y: -400px;
$phone0030-width: 109px;
$phone0030-height: 100px;
$phone0030-total-width: 654px;
$phone0030-total-height: 500px;
$phone0030-image: 'img/spritesheets';
$phone0030: (545px, 400px, -545px, -400px, 109px, 100px, 654px, 500px, 'img/spritesheets', 'phone0030', );
$phone0001-2x-name: 'phone0001@2x';
$phone0001-2x-x: 218px;
$phone0001-2x-y: 0px;
$phone0001-2x-offset-x: -218px;
$phone0001-2x-offset-y: 0px;
$phone0001-2x-width: 218px;
$phone0001-2x-height: 200px;
$phone0001-2x-total-width: 1308px;
$phone0001-2x-total-height: 1000px;
$phone0001-2x-image: 'png-sequence@2x.png';
$phone0001-2x: (218px, 0px, -218px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0001@2x', );
$phone0002-2x-name: 'phone0002@2x';
$phone0002-2x-x: 654px;
$phone0002-2x-y: 600px;
$phone0002-2x-offset-x: -654px;
$phone0002-2x-offset-y: -600px;
$phone0002-2x-width: 218px;
$phone0002-2x-height: 200px;
$phone0002-2x-total-width: 1308px;
$phone0002-2x-total-height: 1000px;
$phone0002-2x-image: 'png-sequence@2x.png';
$phone0002-2x: (654px, 600px, -654px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0002@2x', );
$phone0003-2x-name: 'phone0003@2x';
$phone0003-2x-x: 0px;
$phone0003-2x-y: 200px;
$phone0003-2x-offset-x: 0px;
$phone0003-2x-offset-y: -200px;
$phone0003-2x-width: 218px;
$phone0003-2x-height: 200px;
$phone0003-2x-total-width: 1308px;
$phone0003-2x-total-height: 1000px;
$phone0003-2x-image: 'png-sequence@2x.png';
$phone0003-2x: (0px, 200px, 0px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0003@2x', );
$phone0004-2x-name: 'phone0004@2x';
$phone0004-2x-x: 218px;
$phone0004-2x-y: 200px;
$phone0004-2x-offset-x: -218px;
$phone0004-2x-offset-y: -200px;
$phone0004-2x-width: 218px;
$phone0004-2x-height: 200px;
$phone0004-2x-total-width: 1308px;
$phone0004-2x-total-height: 1000px;
$phone0004-2x-image: 'png-sequence@2x.png';
$phone0004-2x: (218px, 200px, -218px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0004@2x', );
$phone0005-2x-name: 'phone0005@2x';
$phone0005-2x-x: 436px;
$phone0005-2x-y: 0px;
$phone0005-2x-offset-x: -436px;
$phone0005-2x-offset-y: 0px;
$phone0005-2x-width: 218px;
$phone0005-2x-height: 200px;
$phone0005-2x-total-width: 1308px;
$phone0005-2x-total-height: 1000px;
$phone0005-2x-image: 'png-sequence@2x.png';
$phone0005-2x: (436px, 0px, -436px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0005@2x', );
$phone0006-2x-name: 'phone0006@2x';
$phone0006-2x-x: 436px;
$phone0006-2x-y: 200px;
$phone0006-2x-offset-x: -436px;
$phone0006-2x-offset-y: -200px;
$phone0006-2x-width: 218px;
$phone0006-2x-height: 200px;
$phone0006-2x-total-width: 1308px;
$phone0006-2x-total-height: 1000px;
$phone0006-2x-image: 'png-sequence@2x.png';
$phone0006-2x: (436px, 200px, -436px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0006@2x', );
$phone0007-2x-name: 'phone0007@2x';
$phone0007-2x-x: 0px;
$phone0007-2x-y: 400px;
$phone0007-2x-offset-x: 0px;
$phone0007-2x-offset-y: -400px;
$phone0007-2x-width: 218px;
$phone0007-2x-height: 200px;
$phone0007-2x-total-width: 1308px;
$phone0007-2x-total-height: 1000px;
$phone0007-2x-image: 'png-sequence@2x.png';
$phone0007-2x: (0px, 400px, 0px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0007@2x', );
$phone0008-2x-name: 'phone0008@2x';
$phone0008-2x-x: 218px;
$phone0008-2x-y: 400px;
$phone0008-2x-offset-x: -218px;
$phone0008-2x-offset-y: -400px;
$phone0008-2x-width: 218px;
$phone0008-2x-height: 200px;
$phone0008-2x-total-width: 1308px;
$phone0008-2x-total-height: 1000px;
$phone0008-2x-image: 'png-sequence@2x.png';
$phone0008-2x: (218px, 400px, -218px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0008@2x', );
$phone0009-2x-name: 'phone0009@2x';
$phone0009-2x-x: 436px;
$phone0009-2x-y: 400px;
$phone0009-2x-offset-x: -436px;
$phone0009-2x-offset-y: -400px;
$phone0009-2x-width: 218px;
$phone0009-2x-height: 200px;
$phone0009-2x-total-width: 1308px;
$phone0009-2x-total-height: 1000px;
$phone0009-2x-image: 'png-sequence@2x.png';
$phone0009-2x: (436px, 400px, -436px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0009@2x', );
$phone0010-2x-name: 'phone0010@2x';
$phone0010-2x-x: 654px;
$phone0010-2x-y: 0px;
$phone0010-2x-offset-x: -654px;
$phone0010-2x-offset-y: 0px;
$phone0010-2x-width: 218px;
$phone0010-2x-height: 200px;
$phone0010-2x-total-width: 1308px;
$phone0010-2x-total-height: 1000px;
$phone0010-2x-image: 'png-sequence@2x.png';
$phone0010-2x: (654px, 0px, -654px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0010@2x', );
$phone0011-2x-name: 'phone0011@2x';
$phone0011-2x-x: 654px;
$phone0011-2x-y: 200px;
$phone0011-2x-offset-x: -654px;
$phone0011-2x-offset-y: -200px;
$phone0011-2x-width: 218px;
$phone0011-2x-height: 200px;
$phone0011-2x-total-width: 1308px;
$phone0011-2x-total-height: 1000px;
$phone0011-2x-image: 'png-sequence@2x.png';
$phone0011-2x: (654px, 200px, -654px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0011@2x', );
$phone0012-2x-name: 'phone0012@2x';
$phone0012-2x-x: 654px;
$phone0012-2x-y: 400px;
$phone0012-2x-offset-x: -654px;
$phone0012-2x-offset-y: -400px;
$phone0012-2x-width: 218px;
$phone0012-2x-height: 200px;
$phone0012-2x-total-width: 1308px;
$phone0012-2x-total-height: 1000px;
$phone0012-2x-image: 'png-sequence@2x.png';
$phone0012-2x: (654px, 400px, -654px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0012@2x', );
$phone0013-2x-name: 'phone0013@2x';
$phone0013-2x-x: 0px;
$phone0013-2x-y: 600px;
$phone0013-2x-offset-x: 0px;
$phone0013-2x-offset-y: -600px;
$phone0013-2x-width: 218px;
$phone0013-2x-height: 200px;
$phone0013-2x-total-width: 1308px;
$phone0013-2x-total-height: 1000px;
$phone0013-2x-image: 'png-sequence@2x.png';
$phone0013-2x: (0px, 600px, 0px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0013@2x', );
$phone0014-2x-name: 'phone0014@2x';
$phone0014-2x-x: 218px;
$phone0014-2x-y: 600px;
$phone0014-2x-offset-x: -218px;
$phone0014-2x-offset-y: -600px;
$phone0014-2x-width: 218px;
$phone0014-2x-height: 200px;
$phone0014-2x-total-width: 1308px;
$phone0014-2x-total-height: 1000px;
$phone0014-2x-image: 'png-sequence@2x.png';
$phone0014-2x: (218px, 600px, -218px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0014@2x', );
$phone0015-2x-name: 'phone0015@2x';
$phone0015-2x-x: 436px;
$phone0015-2x-y: 600px;
$phone0015-2x-offset-x: -436px;
$phone0015-2x-offset-y: -600px;
$phone0015-2x-width: 218px;
$phone0015-2x-height: 200px;
$phone0015-2x-total-width: 1308px;
$phone0015-2x-total-height: 1000px;
$phone0015-2x-image: 'png-sequence@2x.png';
$phone0015-2x: (436px, 600px, -436px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0015@2x', );
$phone0016-2x-name: 'phone0016@2x';
$phone0016-2x-x: 0px;
$phone0016-2x-y: 0px;
$phone0016-2x-offset-x: 0px;
$phone0016-2x-offset-y: 0px;
$phone0016-2x-width: 218px;
$phone0016-2x-height: 200px;
$phone0016-2x-total-width: 1308px;
$phone0016-2x-total-height: 1000px;
$phone0016-2x-image: 'png-sequence@2x.png';
$phone0016-2x: (0px, 0px, 0px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0016@2x', );
$phone0017-2x-name: 'phone0017@2x';
$phone0017-2x-x: 872px;
$phone0017-2x-y: 0px;
$phone0017-2x-offset-x: -872px;
$phone0017-2x-offset-y: 0px;
$phone0017-2x-width: 218px;
$phone0017-2x-height: 200px;
$phone0017-2x-total-width: 1308px;
$phone0017-2x-total-height: 1000px;
$phone0017-2x-image: 'png-sequence@2x.png';
$phone0017-2x: (872px, 0px, -872px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0017@2x', );
$phone0018-2x-name: 'phone0018@2x';
$phone0018-2x-x: 872px;
$phone0018-2x-y: 200px;
$phone0018-2x-offset-x: -872px;
$phone0018-2x-offset-y: -200px;
$phone0018-2x-width: 218px;
$phone0018-2x-height: 200px;
$phone0018-2x-total-width: 1308px;
$phone0018-2x-total-height: 1000px;
$phone0018-2x-image: 'png-sequence@2x.png';
$phone0018-2x: (872px, 200px, -872px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0018@2x', );
$phone0019-2x-name: 'phone0019@2x';
$phone0019-2x-x: 872px;
$phone0019-2x-y: 400px;
$phone0019-2x-offset-x: -872px;
$phone0019-2x-offset-y: -400px;
$phone0019-2x-width: 218px;
$phone0019-2x-height: 200px;
$phone0019-2x-total-width: 1308px;
$phone0019-2x-total-height: 1000px;
$phone0019-2x-image: 'png-sequence@2x.png';
$phone0019-2x: (872px, 400px, -872px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0019@2x', );
$phone0020-2x-name: 'phone0020@2x';
$phone0020-2x-x: 872px;
$phone0020-2x-y: 600px;
$phone0020-2x-offset-x: -872px;
$phone0020-2x-offset-y: -600px;
$phone0020-2x-width: 218px;
$phone0020-2x-height: 200px;
$phone0020-2x-total-width: 1308px;
$phone0020-2x-total-height: 1000px;
$phone0020-2x-image: 'png-sequence@2x.png';
$phone0020-2x: (872px, 600px, -872px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0020@2x', );
$phone0021-2x-name: 'phone0021@2x';
$phone0021-2x-x: 0px;
$phone0021-2x-y: 800px;
$phone0021-2x-offset-x: 0px;
$phone0021-2x-offset-y: -800px;
$phone0021-2x-width: 218px;
$phone0021-2x-height: 200px;
$phone0021-2x-total-width: 1308px;
$phone0021-2x-total-height: 1000px;
$phone0021-2x-image: 'png-sequence@2x.png';
$phone0021-2x: (0px, 800px, 0px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0021@2x', );
$phone0022-2x-name: 'phone0022@2x';
$phone0022-2x-x: 218px;
$phone0022-2x-y: 800px;
$phone0022-2x-offset-x: -218px;
$phone0022-2x-offset-y: -800px;
$phone0022-2x-width: 218px;
$phone0022-2x-height: 200px;
$phone0022-2x-total-width: 1308px;
$phone0022-2x-total-height: 1000px;
$phone0022-2x-image: 'png-sequence@2x.png';
$phone0022-2x: (218px, 800px, -218px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0022@2x', );
$phone0023-2x-name: 'phone0023@2x';
$phone0023-2x-x: 436px;
$phone0023-2x-y: 800px;
$phone0023-2x-offset-x: -436px;
$phone0023-2x-offset-y: -800px;
$phone0023-2x-width: 218px;
$phone0023-2x-height: 200px;
$phone0023-2x-total-width: 1308px;
$phone0023-2x-total-height: 1000px;
$phone0023-2x-image: 'png-sequence@2x.png';
$phone0023-2x: (436px, 800px, -436px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0023@2x', );
$phone0024-2x-name: 'phone0024@2x';
$phone0024-2x-x: 654px;
$phone0024-2x-y: 800px;
$phone0024-2x-offset-x: -654px;
$phone0024-2x-offset-y: -800px;
$phone0024-2x-width: 218px;
$phone0024-2x-height: 200px;
$phone0024-2x-total-width: 1308px;
$phone0024-2x-total-height: 1000px;
$phone0024-2x-image: 'png-sequence@2x.png';
$phone0024-2x: (654px, 800px, -654px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0024@2x', );
$phone0025-2x-name: 'phone0025@2x';
$phone0025-2x-x: 872px;
$phone0025-2x-y: 800px;
$phone0025-2x-offset-x: -872px;
$phone0025-2x-offset-y: -800px;
$phone0025-2x-width: 218px;
$phone0025-2x-height: 200px;
$phone0025-2x-total-width: 1308px;
$phone0025-2x-total-height: 1000px;
$phone0025-2x-image: 'png-sequence@2x.png';
$phone0025-2x: (872px, 800px, -872px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0025@2x', );
$phone0026-2x-name: 'phone0026@2x';
$phone0026-2x-x: 1090px;
$phone0026-2x-y: 0px;
$phone0026-2x-offset-x: -1090px;
$phone0026-2x-offset-y: 0px;
$phone0026-2x-width: 218px;
$phone0026-2x-height: 200px;
$phone0026-2x-total-width: 1308px;
$phone0026-2x-total-height: 1000px;
$phone0026-2x-image: 'png-sequence@2x.png';
$phone0026-2x: (1090px, 0px, -1090px, 0px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0026@2x', );
$phone0027-2x-name: 'phone0027@2x';
$phone0027-2x-x: 1090px;
$phone0027-2x-y: 200px;
$phone0027-2x-offset-x: -1090px;
$phone0027-2x-offset-y: -200px;
$phone0027-2x-width: 218px;
$phone0027-2x-height: 200px;
$phone0027-2x-total-width: 1308px;
$phone0027-2x-total-height: 1000px;
$phone0027-2x-image: 'png-sequence@2x.png';
$phone0027-2x: (1090px, 200px, -1090px, -200px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0027@2x', );
$phone0028-2x-name: 'phone0028@2x';
$phone0028-2x-x: 1090px;
$phone0028-2x-y: 400px;
$phone0028-2x-offset-x: -1090px;
$phone0028-2x-offset-y: -400px;
$phone0028-2x-width: 218px;
$phone0028-2x-height: 200px;
$phone0028-2x-total-width: 1308px;
$phone0028-2x-total-height: 1000px;
$phone0028-2x-image: 'png-sequence@2x.png';
$phone0028-2x: (1090px, 400px, -1090px, -400px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0028@2x', );
$phone0029-2x-name: 'phone0029@2x';
$phone0029-2x-x: 1090px;
$phone0029-2x-y: 600px;
$phone0029-2x-offset-x: -1090px;
$phone0029-2x-offset-y: -600px;
$phone0029-2x-width: 218px;
$phone0029-2x-height: 200px;
$phone0029-2x-total-width: 1308px;
$phone0029-2x-total-height: 1000px;
$phone0029-2x-image: 'png-sequence@2x.png';
$phone0029-2x: (1090px, 600px, -1090px, -600px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0029@2x', );
$phone0030-2x-name: 'phone0030@2x';
$phone0030-2x-x: 1090px;
$phone0030-2x-y: 800px;
$phone0030-2x-offset-x: -1090px;
$phone0030-2x-offset-y: -800px;
$phone0030-2x-width: 218px;
$phone0030-2x-height: 200px;
$phone0030-2x-total-width: 1308px;
$phone0030-2x-total-height: 1000px;
$phone0030-2x-image: 'png-sequence@2x.png';
$phone0030-2x: (1090px, 800px, -1090px, -800px, 218px, 200px, 1308px, 1000px, 'png-sequence@2x.png', 'phone0030@2x', );
$spritesheet-width: 654px;
$spritesheet-height: 500px;
$spritesheet-image: 'img/spritesheets';
$spritesheet-sprites: ($phone0001, $phone0002, $phone0003, $phone0004, $phone0005, $phone0006, $phone0007, $phone0008, $phone0009, $phone0010, $phone0011, $phone0012, $phone0013, $phone0014, $phone0015, $phone0016, $phone0017, $phone0018, $phone0019, $phone0020, $phone0021, $phone0022, $phone0023, $phone0024, $phone0025, $phone0026, $phone0027, $phone0028, $phone0029, $phone0030, );
$spritesheet: (654px, 500px, 'img/spritesheets', $spritesheet-sprites, );
$retina-spritesheet-width: 1308px;
$retina-spritesheet-height: 1000px;
$retina-spritesheet-image: 'png-sequence@2x.png';
$retina-spritesheet-sprites: ($phone0001-2x, $phone0002-2x, $phone0003-2x, $phone0004-2x, $phone0005-2x, $phone0006-2x, $phone0007-2x, $phone0008-2x, $phone0009-2x, $phone0010-2x, $phone0011-2x, $phone0012-2x, $phone0013-2x, $phone0014-2x, $phone0015-2x, $phone0016-2x, $phone0017-2x, $phone0018-2x, $phone0019-2x, $phone0020-2x, $phone0021-2x, $phone0022-2x, $phone0023-2x, $phone0024-2x, $phone0025-2x, $phone0026-2x, $phone0027-2x, $phone0028-2x, $phone0029-2x, $phone0030-2x, );
$retina-spritesheet: (1308px, 1000px, 'png-sequence@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$phone0001-group-name: 'phone0001';
$phone0001-group: ('phone0001', $phone0001, $phone0001-2x, );
$phone0002-group-name: 'phone0002';
$phone0002-group: ('phone0002', $phone0002, $phone0002-2x, );
$phone0003-group-name: 'phone0003';
$phone0003-group: ('phone0003', $phone0003, $phone0003-2x, );
$phone0004-group-name: 'phone0004';
$phone0004-group: ('phone0004', $phone0004, $phone0004-2x, );
$phone0005-group-name: 'phone0005';
$phone0005-group: ('phone0005', $phone0005, $phone0005-2x, );
$phone0006-group-name: 'phone0006';
$phone0006-group: ('phone0006', $phone0006, $phone0006-2x, );
$phone0007-group-name: 'phone0007';
$phone0007-group: ('phone0007', $phone0007, $phone0007-2x, );
$phone0008-group-name: 'phone0008';
$phone0008-group: ('phone0008', $phone0008, $phone0008-2x, );
$phone0009-group-name: 'phone0009';
$phone0009-group: ('phone0009', $phone0009, $phone0009-2x, );
$phone0010-group-name: 'phone0010';
$phone0010-group: ('phone0010', $phone0010, $phone0010-2x, );
$phone0011-group-name: 'phone0011';
$phone0011-group: ('phone0011', $phone0011, $phone0011-2x, );
$phone0012-group-name: 'phone0012';
$phone0012-group: ('phone0012', $phone0012, $phone0012-2x, );
$phone0013-group-name: 'phone0013';
$phone0013-group: ('phone0013', $phone0013, $phone0013-2x, );
$phone0014-group-name: 'phone0014';
$phone0014-group: ('phone0014', $phone0014, $phone0014-2x, );
$phone0015-group-name: 'phone0015';
$phone0015-group: ('phone0015', $phone0015, $phone0015-2x, );
$phone0016-group-name: 'phone0016';
$phone0016-group: ('phone0016', $phone0016, $phone0016-2x, );
$phone0017-group-name: 'phone0017';
$phone0017-group: ('phone0017', $phone0017, $phone0017-2x, );
$phone0018-group-name: 'phone0018';
$phone0018-group: ('phone0018', $phone0018, $phone0018-2x, );
$phone0019-group-name: 'phone0019';
$phone0019-group: ('phone0019', $phone0019, $phone0019-2x, );
$phone0020-group-name: 'phone0020';
$phone0020-group: ('phone0020', $phone0020, $phone0020-2x, );
$phone0021-group-name: 'phone0021';
$phone0021-group: ('phone0021', $phone0021, $phone0021-2x, );
$phone0022-group-name: 'phone0022';
$phone0022-group: ('phone0022', $phone0022, $phone0022-2x, );
$phone0023-group-name: 'phone0023';
$phone0023-group: ('phone0023', $phone0023, $phone0023-2x, );
$phone0024-group-name: 'phone0024';
$phone0024-group: ('phone0024', $phone0024, $phone0024-2x, );
$phone0025-group-name: 'phone0025';
$phone0025-group: ('phone0025', $phone0025, $phone0025-2x, );
$phone0026-group-name: 'phone0026';
$phone0026-group: ('phone0026', $phone0026, $phone0026-2x, );
$phone0027-group-name: 'phone0027';
$phone0027-group: ('phone0027', $phone0027, $phone0027-2x, );
$phone0028-group-name: 'phone0028';
$phone0028-group: ('phone0028', $phone0028, $phone0028-2x, );
$phone0029-group-name: 'phone0029';
$phone0029-group: ('phone0029', $phone0029, $phone0029-2x, );
$phone0030-group-name: 'phone0030';
$phone0030-group: ('phone0030', $phone0030, $phone0030-2x, );
$retina-groups: ($phone0001-group, $phone0002-group, $phone0003-group, $phone0004-group, $phone0005-group, $phone0006-group, $phone0007-group, $phone0008-group, $phone0009-group, $phone0010-group, $phone0011-group, $phone0012-group, $phone0013-group, $phone0014-group, $phone0015-group, $phone0016-group, $phone0017-group, $phone0018-group, $phone0019-group, $phone0020-group, $phone0021-group, $phone0022-group, $phone0023-group, $phone0024-group, $phone0025-group, $phone0026-group, $phone0027-group, $phone0028-group, $phone0029-group, $phone0030-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}

@include retina-sprites($retina-groups);