<html lang="{{currentLocale}}">

<head>
    <link rel="stylesheet" href="banner.css" inline>
    <meta name="ad.size" content="width={{size.w}},height={{size.h}}">
    <script>var clickTag = "http://www.google.ca";</script>
    {{#block "vendor-js" }}
        {{> vendor-js/tweenmax }}
    {{/block}}
    {{#block "clicktag" }}
        {{> clicktag/generic }}
    {{/block}}
</head>

<body>
    <div id="ad">
        {{> @partial-block }}
    </div>
    <script src="banner.js" inline></script>
</body>

</html>