<html lang="{{currentLocale}}">

<head>
    <!-- inline (production) or external (dev) css -->
    <link rel="stylesheet" href="banner.css" inline>
</head>

<body>
    {{> @partial-block }}
    <!-- inline (production) or external (dev) js -->
    <script src="banner.js" inline></script>
</body>

</html>