$koodo-colours: (
    blue: #21afda,
    pink: #eb2b76,
    yellow: #e9ec6b,
    orange: #faae42,
    dark-blue: #003087,
    light-blue: #6ad1e3
);

$porsche-colours: (
    red: #d5001c
);

$agf-colours: (
    ember: #ffb819,
    fire: #ed5a36,
    flame: #f47e20,
    dark-blue: #203232
);