// Globals
@mixin chevron($size, $colour, $thickness:2px, $direction:"right") {

    &::before {
        border-style: solid;
        border-width: $thickness $thickness 0 0;
        border-color: $colour;
        content: '';
        display: inline-block;
        height: $size + 0px;
        left: 0.15em;
        position: relative;
        top: 0.15em;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        vertical-align: top;
        width: $size + 0px;
    }

    @if $direction == "right" {
        &.right::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
    @else if $direction == "left" {
        &.left:before {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }
    @else if $direction == "up" {
        &.left:before {
            transform: rotate(-45);
            -webkit-transform: rotate(-45);
        }
    }
    @else if $direction == "down" {
        &.left:before {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
    }

}

// Koodo
@mixin koodo-legals($width:100%, $position:"right") {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    font-family: "Arial";
    font-size: 10px;
    text-align: left;
    width: $width;
    min-height: 30px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: white transparent transparent transparent;
        bottom: -6px;

        @if $position == "left" {
            left: 10px;
        }
        @else if $position == "center" {
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }
        @else {
            right: 10px;
        }
    }
}

@mixin koodo-cut($width, $height, $color, $skewX:0, $skewY:0) {
    display: block;
    width: $width + 0px;
    height: $height + 0px;
    background-color: $color;
    transform: skew($skewX + 0deg, $skewY + 0deg);
    -webkit-transform: skew($skewX, $skewY);
}

// Porsche
@mixin porsche-border($thickness) {
    border: $thickness + 0px solid white;
    box-sizing: border-box;
    @include size($bannerWidth - 2, $bannerHeight - 2);
}

@mixin porsche-footer($orientation:"300x250") {
    background-color: white;

    @if $orientation == "300x250" {
        bottom: 0;
        @include size($bannerWidth, 50);
    }
    @else if $orientation == "300x600" {
        bottom: 0;
        @include size($bannerWidth, 75);
    }
    @else if $orientation == "728x90" {
        right: 0;
        @include size(110, $bannerHeight);
    }
    @else if $orientation == "300x50" {
        right: 0;
        @include size(82, $bannerHeight);
    }
    @else if $orientation == "320x50" {
        right: 0;
        @include size(94, $bannerHeight);
    }
}