@import "variables";
@import "mixins";

body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  border: 1px solid black;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  @include size($bannerWidth - 2, $bannerHeight - 2);
}

.ad-element {
  position: absolute;
  background-repeat: no-repeat;
}
