$koodo-colours: (
    blue: #21afda,
    pink: #eb2b76,
    yellow: #e9ec6b,
    green: #d5e04d,
    orange: #faae42,
    dark-blue: #003087,
    bg-pink: #fabbcb,
    bg-orange: #fdd26e,
    bg-yellow: #e9eb6b
);

$porsche-colours: (
    red: #d5001c
);

$agf-colours: (
    ember: #ffb819,
    fire: #ed5a36,
    flame: #f47e20,
    dark-blue: #203232
);