@import "img/spritesheets/sprites";
@import "global";

$border-color: #000;
$background-color: #ccc;

#clickarea {
  cursor: pointer;
}

#banner {
  position: absolute;
  display: block;
  overflow: hidden;
  @include size($bannerWidth - 2px, $bannerHeight - 2px);
  background-color: $background-color;
}

.frame {
  @include size($bannerWidth, $bannerHeight);
}

#cta {
  background-color: #d5001c;
  @include size(147, 31);
  @include position(18, 72);

  #label {
    background-image: url("img/cta.png");
    @include retina-image-background-size(117, 11);
    @include position(19, 11);

    #chevron {
      background-image: url("img/chevron.png");
      @include retina-image-background-size(4, 6);
      @include position(-9, 1);
    }
  }
}

#logo {
  background-color: white;
  bottom: 0;
  @include size($bannerWidth, 50);

  #image {
    background-image: url("img/logo.png");
    @include position(114, 5);
    @include retina-image-background-size(73, 38);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
    #image {
      background-image: url("img/logo@2x.png");
    }
  }
}

#background-1 {
  background-image: url("img/background1.jpg");
  width: $bannerWidth + 42;
  height: $bannerHeight;
  left: -40px;
}

#background-2 {
  background-image: url("img/background2.jpg");
  width: $bannerWidth + 28;
  height: $bannerHeight;
}

#background-3 {
  background-image: url("img/background3.jpg");
  width: $bannerWidth + 28;
  height: $bannerHeight;
  left: -20px;
}

#background-4 {
  background-image: url("img/background4.jpg");
  width: $bannerWidth + 28;
  height: $bannerHeight;
  left: -14px;
}

#background-5 {
  background-image: url("img/background5.jpg");
  width: $bannerWidth + 28;
  height: $bannerHeight;
}

#border {
  width: $bannerWidth - 2;
  height: $bannerHeight - 2;
  border: 5px solid white;
  box-sizing: border-box;
}
